<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/routes/css/rest.css">
    <link rel="stylesheet" href="/routes/css/public.css">
    <title>Document</title>
</head>

<body>
    <div class="home">
        <a href="/">返回首页</a>
    </div>
    <form action="localhost:9000" method="POST" class="blog_public" id="form1">
        <label for="text">标题：</label> <input type="text" name="" id="text" class="text">
        <textarea cols="30" rows="1000" class="textarea" id="content_text"></textarea>
        <!-- <input type="submit" id="btn" class="btn" value="发表"> -->
        <button type="button" id="btn" class="btn" value="button">发布</button>
    </form>
    <script src="/routes/js/jquery.js"></script>
    <script src="/routes/js/public.js"></script>
    <script>

    </script>
</body>

</html>